/* Genel Stil */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0e7ff; /* Hafif pastel mavi arka plan */
  text-align: center;
}

.author-page-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

.form-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px; /* Border radius artırıldı */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08); /* Hafif gölge */
  transition: transform 0.3s ease; /* Yumuşak animasyon efekti */
}

.form-container:hover {
  transform: translateY(-4px); /* Hover'da hafif yükselme efekti */
}

.author-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* Boşluk artırıldı */
}

.author-form .MuiTextField-root {
  width: 100%;
}

button {
  width: 35%; /* Buton genişliği artırıldı */
  padding: 0.75rem; /* Yüksekliği artırıldı */
  margin-right: 1rem;
  color: white;
  font-size: 1.1rem; /* Yazı boyutu büyütüldü */
  font-weight: bold; /* Yazı kalınlığı artırıldı */
  background-color: #3f51b5; /* Indigo arka plan rengi */
  border: none;
  border-radius: 6px; /* Border radius artırıldı */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Yumuşak geçiş efekti */
}

button:hover {
  background-color: #303f9f; /* Daha koyu indigo hover efekti */
  transform: translateY(-2px); /* Hover'da hafif yükselme efekti */
}

.table-container {
  margin-top: 2rem;
  background-color: #fff; /* Beyaz arka plan */
  padding: 1.5rem;
  border-radius: 12px; /* Border radius artırıldı */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Daha yumuşak gölge */
  transition: transform 0.3s ease; /* Yumuşak animasyon efekti */
}

.table-container:hover {
  transform: translateY(-4px); /* Hover'da hafif yükselme efekti */
}

